

h1 {
    font-family: "Black Ops One", sans-serif;
}

.card {
    background-color: #333333;
    border: none;
    margin-bottom: 20px;
}

.card-body {
    padding: 2rem;
    text-align: center;
}

.card-title {
    color: #DCA8FA;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: "Jockey One", sans-serif;
}

.card-text {
    color: white;
    font-family: "Jockey One", sans-serif;
}

.card-img-top {
    border-radius: 10px;
}

 
